@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');

* {
    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}