@media screen and (max-width: 475px){
    
body {
    background-color: #00BFFF;
}
.h1page {
    font-size: 1.3rem;
    box-shadow: none;
}
.container {
    box-shadow: none;
    width: 100%;
}

}

@media (max-width: 915px) and (min-width: 768px){
    .container label {
        font-size: 2rem;
    }
    
    .selectStyle {
        font-size: 2rem;
    }
}