@media (max-width: 1200px){
.h1page {
    font-size: 40px;
}
.container {
    padding: 20px;
    gap: 15px;
    width: 50vh;
    height: 60vh;
}
.container label {
    font-size: 25px;
    font-weight: bold;
}
.selectStyle {
    width: 35vh;
    height: 35vh;
    padding: 5px;
    font-size: 20px;
}

footer {
    font-size: 25px;
    font-weight: bold;
}
}

@media (max-width: 575px) {
body {
    background-color: #00BFFF;
}
.nav-bar{
    box-shadow: none;
}
.h1page {
    font-size: 24px;
}
.container {
    padding: 15px;
    gap: 5px;
    width: 50vh;
    height: 50vh;
    box-shadow: none;
}
.container label {
    font-size: 16px;
    font-weight: bold;
}
.selectStyle {
    width: 30vh;
    height: 30vh;
    padding: 5px;
    font-size: 15px;
}

footer {
    font-size: 15px;
    font-weight: bold;
    color: #FFFAFA;
}

.footerLink{
    color:	#FFA07A;
}

}