body {
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 16px;
}

.nav-bar {
    background-color: #00BFFF;
    display: flex;
    padding: 5vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 5px 0 rgba(129, 216, 238, 0.4);
}

.h1page {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #FFFAFA;
    transition: all 0.3s ease;
}

.h1page:hover {
    cursor: default;
    transform: scale(1.05);
    
}

.container {
    background-color: #00BFFF;
    display: flex;
    border-radius: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    gap: 1vh;
    width: 60vh;
    height: 60vh;
    flex: 1;
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.4);
}

.container label {
    color: #FFFAFA;
    font-size: 20px;
    font-weight: bold;
}

.selectStyle {
    background-color: #FFFAFA;
    width: 40vh;
    height: 40vh;
    padding: 7px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.selectStyle:hover{
    cursor: default;
    transform: scale(1.05);
}

footer {
    margin-top: 35px;
}

.footerLink{
    text-decoration: none;
    color: #DC143C;
    transition: all 0.3s ease;
}

.footerLink:hover{
    cursor: pointer;
    background-color: #DC143C;
    color: #FFFAFA;
    padding: 4px;
    border-radius: 5px;
    
}

@media (max-width: 1200px){
.h1page {
    font-size: 40px;
}
.container {
    padding: 20px;
    gap: 15px;
    width: 50vh;
    height: 60vh;
}
.container label {
    font-size: 25px;
    font-weight: bold;
}
.selectStyle {
    width: 35vh;
    height: 35vh;
    padding: 5px;
    font-size: 20px;
}

footer {
    font-size: 25px;
    font-weight: bold;
}
}

@media (max-width: 575px) {
body {
    background-color: #00BFFF;
}
.nav-bar{
    box-shadow: none;
}
.h1page {
    font-size: 24px;
}
.container {
    padding: 15px;
    gap: 5px;
    width: 50vh;
    height: 50vh;
    box-shadow: none;
}
.container label {
    font-size: 16px;
    font-weight: bold;
}
.selectStyle {
    width: 30vh;
    height: 30vh;
    padding: 5px;
    font-size: 15px;
}

footer {
    font-size: 15px;
    font-weight: bold;
    color: #FFFAFA;
}

.footerLink{
    color:	#FFA07A;
}

}