:root {
    --bg-body: #FFFAFA;
    --bg-panel: #00BFFF;
    --text-color: #FFFAFA;
    --color-footer: #DC143C;
}

body {
    background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 16px;
}

.nav-bar {
    background-color: var(--bg-panel);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    width: 100%;
    box-shadow: 8px 8px 5px 0 rgba(129, 216, 238, 0.4);
}

.h1page {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.h1page:hover {
    cursor: default;
    transform: scale(1.05);
    
}

.container {
    background-color: var(--bg-panel);
    display: flex;
    border-radius: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    width: 60vh;
    height: 60vh;
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.4);
}

.container label {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
}

#enteredValue {
    margin-top: 1vh;
}

.selectStyle {
    background-color: var(--bg-body);
    width: 40vh;
    height: 60px;
    padding: 7px;
    border-radius: 10px;
    transition: all 0.3s ease;
    appearance: none;
}

.selectStyle:focus {
  outline: none;
  border-color: #0066cc;
}

.selectStyle:hover{
    cursor: default;
    transform: scale(1.05);
}

footer {
    margin-top: 35px;
}

.footerLink{
    text-decoration: none;
    color: var(--color-footer);
    transition: all 0.3s ease;
}

.footerLink:hover{
    cursor: pointer;
    background-color: var(--color-footer);
    color: var(--text-color);
    padding: 4px;
    border-radius: 5px;
    
}

