body {
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 16px;
}

.nav-bar {
    background-color: #00BFFF;
    display: flex;
    padding: 5vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 8px 8px 5px 0 rgba(129, 216, 238, 0.4);
}

ul {
    display: flex;
    align-items: center;
}

#btn-theme {
    background-color: #00BFFF;
    position: relative;
    left: 70%;
}

#black-theme {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease;
    position: relative;
}

#black-theme:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.h1page {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: #FFFAFA;
    transition: all 0.3s ease;
}

.h1page:hover {
    cursor: default;
    transform: scale(1.05);
    
}

.container {
    background-color: #00BFFF;
    display: flex;
    border-radius: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1px;
    width: 60vh;
    height: 60vh;
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.4);
}

.container label {
    color: #FFFAFA;
    font-size: 20px;
    font-weight: bold;
}

#enteredValue {
    margin-top: 1vh;
}

.selectStyle {
    background-color: #FFFAFA;
    width: 45vh;
    height: 45vh;
    padding: 7px;
    border-radius: 10px;
    transition: all 0.3s ease;
    appearance: none;
}

.selectStyle:focus {
  outline: none;
  border-color: #0066cc;
}

.selectStyle:hover{
    cursor: default;
    transform: scale(1.05);
}

footer {
    margin-top: 35px;
}

.footerLink{
    text-decoration: none;
    color: #DC143C;
    transition: all 0.3s ease;
}

.footerLink:hover{
    cursor: pointer;
    background-color: #DC143C;
    color: #FFFAFA;
    padding: 4px;
    border-radius: 5px;
    
}

